body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.left {
    color: #F9FAF8;
    font-size: 24px;
    padding: 10px;
    padding-left: 80px;
}

.right {
    padding-right: 120px;
}


ul {
    list-style-type: none;
    display: flex;
    margin:0px;
    padding:0px;
    gap: 16px;
}

.right a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.intro {
    background-color: #1F2937;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    padding: 50px;
}

.intro-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding:16px;
    padding-left: 50px;
}

.main-text{
    color: #F9FAF8;
    font-weight:bolder;
    font-size: 48px;
    flex-wrap: wrap;
}

.sub-text{
    color:#E5E7EB;
    font-size: 18px;
    flex-wrap: wrap;
}

button {
    background-color:#3882F6;
    color:white;
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
}

.intro img {
    max-width: 400px;
    padding: 16px;
    padding-right: 80px;
}

.second {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.second-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.items{
    color:#6b6b6b;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
}

.items img {
    max-width: 175px;
}

.width {
    max-width: 175px;
}

.quote-section {
    background-color:#E5E7EB;
    color:#1F2937;
    font-family: 'Courier New', Courier, monospace;   
    padding:50px;
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quoted-person {
    padding-right: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
